*.swp
*.DS_Store
*.*~
/.env
/.testing.env
/forever.json
geckodriver.log
/node_modules/
/tmp/exports/*
!/tmp/exports/.gitkeep
/tmp/imports/*
!/tmp/imports/.gitkeep
/tmp/logs/*
!/tmp/logs/.gitkeep
/tmp/pids/*
!/tmp/pids/.gitkeep
/tmp/sessions/*
!/tmp/sessions/.gitkeep
/test/helpers/config.js
/test/tmp/imports/*
!/test/tmp/imports/.gitkeep
/test/tmp/exports/*
!/test/tmp/exports/.gitkeep
/test/tmp/logs/*
!/test/tmp/logs/.gitkeep
/test/tmp/nightwatch_output/*
!/test/tmp/nightwatch_output/.gitkeep
/test/tmp/sessions/*
!/test/tmp/sessions/.gitkeep
